<%- include('headerBot') %>
    <section>
        <p>Animated search input:</p>
    </section>

    <div class="container my-5 text-center">
        <input type="text" onkeydown="traer()" placeholder=" Search..">
        <div class="mt-5" id="contenido">

        </div>
    </div>
<%- include('footerBot') %>