<%- include('header') %>

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/styleBots.css">
    <title>Bot Search</title>
</head>

<body>
    <section>
        <p>Animated search input:</p>
    </section>

    <div class="container my-5 text-center">
        <input type="text" onkeydown="traer()" placeholder=" Search..">
        <div class="mt-5" id="contenido">

        </div>
    </div>

    <div class="container">
        <div class="links">
            <a class="page1">1</a>
            <a class="page2">2</a>
            <a class="page3">3</a>
            <a class="page4">4</a>
            <a class="page5">5</a>
            <a class="page6">6</a>
            <a class="page7">7</a>
            <a class="page8">8</a>
            <a class="page9">9</a>
            <a class="page10">10</a>
        </div>
        <section class="searchValues"></section>
        <hr />
        <div class="links">
            <a class="page1">1</a>
            <a class="page2">2</a>
            <a class="page3">3</a>
            <a class="page4">4</a>
            <a class="page5">5</a>
            <a class="page6">6</a>
            <a class="page7">7</a>
            <a class="page8">8</a>
            <a class="page9">9</a>
            <a class="page10">10</a>
        </div>
    </div>

    <!-- jquery for enter key press -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
    <script src="../public/chat.js"></script>
    <script>


    </script>
</body>

</html>

<%- include('footer') %>