<%- include('headerBot') %>
<div class="scene"></div>
<div class="krabot">
  <h1 class="krabotTitle">
    Test con Krabot <button class="initBot">INICIAR</button>
  </h1>
  <h4 class="answer1"></h4>
  <h4 class="answer2"></h4>
  <h4 class="answer3"></h4>
  <h4 class="answer4"></h4>
  <div class="gamesByBot"></div>
</div>

<h1 class="title">Search a game or Ask to Botof War</h1>
<input class="searchGame" type="text" placeholder="Search..." />
<div class="searchedGames"></div>
<%- include('footerBot') %>
