<%- include('headerBot') %>
<div class="krabot">
  <h1 class="krabotTitle">ASK TO KRABOT</h1>
  <button class="initBot">INICIAR</button>
  <h4 class="answer1"></h4>
  <h4 class="answer2"></h4>
  <h4 class="answer3"></h4>
  <h4 class="answer4"></h4>
</div>

<h1 class="title">Search a game or Ask to Botof War</h1>
<input class="searchGame" type="text" />
<div class="searchedGames"></div>
<%- include('footerBot') %>
