<!-- SECTION Footer ------------------------------------------------ -->
<footer class="footer">
    <p>Version: 0.5</p>
    <div class="information">
      <div class="allServices">
        <div class="services">
          <h3>Servicios</h3>
          <a href="#">Playstation Games</a>
          <a href="#">Xbox Games</a>
          <a href="#">Steam Games</a>
          <a href="#">Nintendo Games</a>
        </div>
        <div class="account">
          <h3>Cuenta</h3>
          <a href="#">Administrar Cuenta</a>
          <a href="#">Servicio Tecnico</a>
        </div>
        <div class="legal">
          <h3>Legal</h3>
          <a href="#">Terminos de servicio</a>
          <a href="#">Licencias de codigo abierto</a>
          <a href="#">aoliticas de arivacidad</a>
          <a href="#">Avisos de salud</a>
          <a href="#">Acerca de nosotros</a>
          <a href="#">Mas...</a>
        </div>
      </div>
      <div class="socialMedia">
        <h3>Geek Store</h3>
        <a href="#">Acerca de nosotros</a>
        <a href="#">Ayuda</a>
        <div class="icons-media">
          <a class="facebook" href="www.google.com"><i class="fab fa-facebook"></i></a>
          <a class="twitter" href="www.google.com"><i class="fab fa-twitter-square"></i></a>
          <a class="github" href="www.google.com">
            <i class="fab fa-github"></i></a>
          <a class="linkedIn" href="www.google.com">
            <i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <script src="searchGames.js"></script>
  <script src="krabot.js"></script>
  </body>
  
  </html>