<%- include('header') %> 
    <!-- SECTION Contenido Principal ------------------------------------------------ -->
    <h1 class="principalTitle">Juegos de la decada</h1>
    <div class="diferentClases">
      <div class="Playstation">
        <i class="fab fa-playstation"></i>
        <p>Playstation</p>
      </div>
      <div class="Xbox">
        <i class="fab fa-xbox"></i>
        <p>Xbox</p>
      </div>
      <div class="Steam">
        <i class="fab fa-steam"></i>
        <p>Steam</p>
      </div>
      <div class="Nintendo">
        <i class="fas fa-gamepad"></i>
        <p>Nintendo</p>
      </div>
    </div>

    <div class="container">
      <div class="links">
        <a class="page1">1</a>
        <a class="page2">2</a>
        <a class="page3">3</a>
        <a class="page4">4</a>
        <a class="page5">5</a>
        <a class="page6">6</a>
        <a class="page7">7</a>
        <a class="page8">8</a>
        <a class="page9">9</a>
        <a class="page10">10</a>
      </div>
      <section class="searchValues"></section>
      <hr />
      <div class="links">
        <a class="page1">1</a>
        <a class="page2">2</a>
        <a class="page3">3</a>
        <a class="page4">4</a>
        <a class="page5">5</a>
        <a class="page6">6</a>
        <a class="page7">7</a>
        <a class="page8">8</a>
        <a class="page9">9</a>
        <a class="page10">10</a>
      </div>
    </div>
    <%- include('footerLandingAndIndex') %> 

