<%- include('header') %> 
    <!-- SECTION Slider -->
    <div class="bxslider">
      <div>
        <img src="images/assasins_logo.jpg" title="Funky roots" />
      </div>
      <div>
        <img src="images/gaming.jpg" title="The long and winding road" />
      </div>
      <div>
        <img src="images/assasins_logo.jpg" title="Happy trees" />
      </div>
    </div>
<%- include('footer') %> 
    