<%- include('header') %>
<!-- SECTION Slider -->
<div class="bxslider">
  <div>
    <img src="images/assasins_logo.jpg" title="AC Odyssey" />
  </div>
  <div>
    <img src="images/hellblade.jpg" title="Hellblade" />
  </div>
  <div>
    <img src="images/reddead.jpg" title="Red Dead Redemption 2" />
  </div>
  <div>
    <img src="images/monsterh.jpg" title="Monster Hunter World" />
  </div>
  <div>
    <img src="images/bioshock.jpg" title="Bioshock The Collection" />
  </div>
  <div>
    <img src="images/halflife.jpg" title="Half Life" />
  </div>
  <div>
    <img src="images/jedif.jpg" title="Star Wars JEDI Fallen Order" />
  </div>
</div>
<video id="video" width="520" src="multiplayer/PlayStation4.mp4"></video>
<%- include('footer') %>
