<!-- SECTION Barra de navegacion ------------------------------------------------ -->
<nav class="navbar">
  <div class="logoAndTitle">
    <i class="fab fa-playstation"></i>
    <a href="/">Geek <span>Store</span></a>
  </div>
  <a href="games">Games</a>
  <a href="bot">Search a Game</a>
</nav>
