/* NAVBAR */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  body {
    background-image: url("images/gaming.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .bx-wrapper {
    margin: auto;
  }
  
  .bx-viewport {
    margin-top: 7vh;
  }
  
  .bxslider div img {
    height: 400;
  }
  
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 8vh;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: #fff;
  }
  
  .navbar .logoAndTitle {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar .logoAndTitle i {
    margin: 0 5px;
    color: #0070d1;
  }
  
  .navbar .logoAndTitle a {
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
  }
  
  .navbar .logoAndTitle a span {
    font-weight: lighter;
  }
  
  .navbar a {
    text-decoration: none;
    color: #000;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .navbar:hover {
    background-color: #1d1919;
  }
  
  .navbar:hover .logoAndTitle i {
    margin: 0 5px;
    color: white;
  }
  
  .navbar:hover .logoAndTitle h1 {
    color: #fff;
  }
  
  .navbar:hover .logoAndTitle h1 span {
    font-weight: lighter;
    color: #fff;
  }
  
  .navbar:hover a {
    color: #fff;
  }

/* TU SECCION */


/* FOOTER  */
  .footer {
    color: #fff;
    background-color: #1d1919;
    margin: auto;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer p {
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
  }
  
  .footer .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
    margin: auto;
  }
  
  .footer .information .allServices {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  
  .footer .information .allServices .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer .information .allServices .services h3 {
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  .footer .information .allServices .services a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding-bottom: 3px;
  }
  
  .footer .information .allServices .services a:hover {
    color: rgba(255, 255, 255, 0.9);
  }
  
  .footer .information .allServices .account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer .information .allServices .account h3 {
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  .footer .information .allServices .account a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding-bottom: 3px;
  }
  
  .footer .information .allServices .account a:hover {
    color: rgba(255, 255, 255, 0.9);
  }
  
  .footer .information .allServices .legal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer .information .allServices .legal h3 {
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  .footer .information .allServices .legal a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding-bottom: 3px;
  }
  
  .footer .information .allServices .legal a:hover {
    color: rgba(255, 255, 255, 0.9);
  }
  
  .footer .information .socialMedia {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    padding-left: 10px;
    background-color: #494949;
  }
  
  .footer .information .socialMedia h3 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  .footer .information .socialMedia a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding-bottom: 3px;
    padding-bottom: 10px;
  }
  
  .footer .information .socialMedia a:hover {
    color: rgba(255, 255, 255, 0.9);
  }
  
  .footer .information .socialMedia .icons-media {
    padding-top: 10px;
    font-size: 1.5em;
    padding-right: 5px;
    width: 100%;
  }
  
  .footer .information .socialMedia .icons-media .facebook {
    height: 100%;
    font-size: 1.5em;
    padding: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .footer .information .socialMedia .icons-media .facebook i {
    color: #1861e9;
  }
  
  .footer .information .socialMedia .icons-media .twitter {
    height: 100%;
    font-size: 1.5em;
    padding: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .footer .information .socialMedia .icons-media .twitter i {
    color: #18aee9;
  }
  
  .footer .information .socialMedia .icons-media .github {
    height: 100%;
    font-size: 1.5em;
    padding: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .footer .information .socialMedia .icons-media .github i {
    color: black;
  }
  
  .footer .information .socialMedia .icons-media .linkedIn {
    height: 100%;
    font-size: 1.5em;
    padding: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .footer .information .socialMedia .icons-media .linkedIn i {
    color: #1e56bd;
  }
  
  .footer .information .socialMedia .icons-media a:hover {
    font-size: 1.7em;
  }